body {
  background-color: #1a1a1a;
}

.jumbotron {
   padding-top: 10px;
   padding-bottom: 10px;
   color: #cccccc;
}

#drawArea {
  position: relative;
  margin: auto;
  margin-bottom: 20px;
  width: 80vw;
  height: 70vh;
}

#drawArea canvas.land {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

#commands {
  margin: auto;
}
