<!DOCTYPE html>
<html>
    <head>
        <%- include('head-section'); %>
        <link rel="stylesheet" href="/public/css/land.css" type="text/css" />
        <title>genetic algorithm</title>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="jumbotron text-center col-sm-12 bg-dark">
                    <div class="row">
                        <div class="col-sm-12">
                          <h3>Simulation d'atterrissage d'une fusée</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
              <div id="drawArea" class="bg-dark">
                  <canvas
                      class="land"
                      width="6999"
                      height="2500">
                  </canvas>
              </div>
            </div>
            <div class="row">
              <div id="commands">
                <select class="custom-select bg-dark text-white border-dark">
                    <option selected value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <button type="button" class="start btn btn-dark">start</button>
                <button type="button" class="stop btn btn-dark">stop</button>
              </div>
            </div>
        </div>
        <%- include('script-section') %>
        <script type="module" src="/public/js/land.js"></script>
    </body>
</html>
